# Google Trend Data

In [6]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [7]:
df =  pd.read_csv("UKdata.csv")

In [8]:
df

,city,region,country,Date,Time in GMT,DavidCameron,EdMiliband,NickClegg
0,Cliffe Woods,England,United Kingdom,Apr 30 2015,19:32,100.0,100.000000,0.0
1,Gorefield,England,United Kingdom,Apr 30 2015,20:08,0.0,100.000000,0.0
2,Carlton,England,United Kingdom,Apr 30 2015,21:02,0.0,100.000000,0.0
3,Amble,England,United Kingdom,Apr 30 2015,21:48,0.0,100.000000,0.0
4,Caddington,England,United Kingdom,Apr 30 2015,20:31,0.0,25.000000,0.0
...,...,...,...,...,...,...,...,...
14573,Richmond,England,United Kingdom,Apr 30 2015,20:01,0.0,8.333333,0.0
14574,Richmond,England,United Kingdom,Apr 30 2015,20:02,0.0,10.000000,0.0
14575,Richmond,England,United Kingdom,Apr 30 2015,20:49,0.0,14.285714,0.0
14576,Richmond,England,United Kingdom,Apr 30 2015,21:47,0.0,8.333333,0.0
14577,Richmond,England,United Kingdom,Apr 30 2015,22:02,0.0,7.692308,0.0

In [11]:
x = df[["EdMiliband"]]
y = df[["city"]]

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.45)

In [26]:
lg = LogisticRegression()

In [27]:
lg.fit(x_train,y_train)

C:\Users\tppat\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\tppat\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
y_pred = lg.predict(x_test)

In [33]:
y_pred[:5]

array(['Twickenham ', 'Hook End ', 'Twickenham ', 'Hook End ',
       'Twickenham '], dtype=object)

In [34]:
y_test.head(5)

               city
11267      Cwmbran
3534    Doddington
5076        Harrow
8720     Weybridge
9672   Farnborough

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 2, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 2, 0, 0]], dtype=int64)