# Stock Market Perdiction

In [1]:
#import Libraries

In [5]:
import math
import pandas as pd
import pandas_datareader as web
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense,LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [11]:
stock = str(input())
df = web.DataReader(stock,data_source='yahoo',start='2012-01-01',end='2020-12-11')
df.tail()

ICICIBANK.NS

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-07,515.599976,504.149994,505.000000,510.450012,37778332.0,510.450012
2020-12-08,512.000000,505.399994,511.500000,508.399994,19339943.0,508.399994
2020-12-09,515.000000,506.049988,510.000000,511.500000,21272782.0,511.500000
2020-12-10,514.400024,498.750000,508.100006,506.950012,20419020.0,506.950012
2020-12-11,516.900024,506.100006,509.250000,515.450012,25335765.0,515.450012

In [36]:
y =df[['Close']]
x=df[['Open']]

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr=LinearRegression()

In [40]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
y_pred=lr.predict(x_test)
y_pred[756:762]

array([[425.69698551],
       [653.94440216],
       [440.42906946],
       [632.96990975],
       [480.15575077]])

In [51]:
y_test.tail()

                 Close
Date
2013-11-29  426.600006
2017-03-17  650.349976
2013-02-06  437.825012
2017-03-31  660.450012
2014-04-22  483.875000

In [52]:
from sklearn.metrics import mean_squared_error
mean = mean_squared_error(y_test,y_pred)
mean

262.6757448925761